@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-slate-850: #1e293b;
    --color-slate-900: #0f172a;
    --color-slate-950: #020617;
    --color-amber-500: #f59e0b;
    --color-amber-600: #d97706;
}


@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.8s ease-out forwards;
    }

    .animate-fade-in-up {
        animation: fadeInUp 0.8s ease-out forwards;
    }

    .delay-100 {
        animation-delay: 100ms;
    }

    .delay-200 {
        animation-delay: 200ms;
    }

    .delay-300 {
        animation-delay: 300ms;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}